.title-con{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 1000px;
	width: 100%;
	z-index: 1;
}
.title{
	width: 65%;
	padding: 0 0 0 10%;
	line-height: 1.6;
}
.title-img{
	width: auto;
	height: 100%;
	display: flex;
	align-items: flex-end;
} 
.title-con .mob-btn{
	display: none;
}
.title-con .desc-btn{
	display: flex;
}
.title-img img{
	position: relative;
	width: auto;
	height: 900px;
	margin-top: 10vh;
	z-index: 2;
} 
.title-img .back{
	position: absolute;
	/* top: 0;
	right: 0; */
	filter: blur(50px);
	z-index: 1;
	opacity: 0.7;
} 
.title h1{
	font-size: var(--title);
	font-weight: 400;
	line-height: 1.2;
	margin-top: 10%;
}
.title h2{
	font-size: var(--h2);
	color: var(--gray);
	font-weight: 400;
	margin: 5% 0 8% 0;
}




.way-con {
	position: relative;
	width: 100%;
	height: 500px;
	display: flex;
	transition: all 0.5s ease-in-out;
	z-index: 2;
}

.way {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	height: 100%;
	overflow: hidden;
	transition: all 1s ease-in-out;
}

.way:hover {
	flex: 4;
	transition: all 1s ease-in-out;
}

.way-con:hover .way:not(:hover) {
	flex: 3;
	transition: all 1s ease-in-out;
}

.buy, .cell, .liq {
	position: relative;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	transition: var(--tran_05);
}

.buy::before {
	background-image: url(/assets/img/buy.png);
}

.cell::before {
	background-image: url(/assets/img/cell.png);
}

.liq::before {
	background-image: url(/assets/img/liq.png);
}

.way::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: -1;
	filter: brightness(40%);
	transition: all 1s ease-in-out;
	cursor: pointer;
}

.way:hover::before {
	filter: brightness(20%);
}

.way h1 {
	display: flex;
	justify-content: center;
	font-weight: 400;
	margin-top: 50px;
	cursor: pointer;
	font-size: clamp(10px, 2.5vw, 40px);
	line-height: 1.2;
	transition: all 1s ease-in-out;
	width: 100%;
}


.way h2, .way h3 {
	font-weight: 400;
	font-size: var(--h2);
	color: var(--gray);
	opacity: 0;
	transition: all 1s ease-in-out;
	cursor: pointer;
}

.way h2 {
	margin-top: 5%;
	width: 500px;
	max-width: 500px;
	min-width: 300px;
	line-height: 1.8;
	font-weight: 500;
	margin-top: 10%;
}

.way a h3 {
	margin-top: 20px;
	transition: all 0.2s;
}

.way a h3:hover {
	color: #ffffff;
}

.way:hover h2, .way:hover h3 {
	opacity: 1;
}

.way img {
	opacity: 1;
	transition: all 1s ease-in-out;
}
.way-text div {
	display: flex;
	justify-content: center;
	width: 100%;
}
.way:hover img {
	opacity: 0;
}


.way:hover .way-text {
	transform: translateY(-60px);
	transition: all 1s ease-in-out;
}
.way-text {
	transform: translateY(50px);
	transition: all 1s ease-in-out;
	cursor: pointer;
	width: 70%;
}
@media (max-width: 1600px) {
.way h2 {

	width: 400px;

}
}
@media (max-width: 600px) {

	.way-con {
		flex-direction: column;
		height: 800px;
	}
	.way-text {
		margin-top: 20%;
	}
	.title-img{
		position: absolute;
		top: 0;
	}
	.title-img img{
		position: absolute;
		top: 0;
	} 
	.title{
		width: 100%;
		padding: 0 0 0 10%;
	}
	.title h2 {
		width: 59%;
		margin-top: 10%;
	}
	.way h2 {
    margin-top: 15%;
    width: 300px;
}
	.title-img img {
		position: absolute;
		height: 63vh;
		transform: translate(60%, 43%);
	}
	.title-img .back {
    left: 0;
}
	.way h1 {
		font-weight: 400;
		margin-top: 20px;
		font-size: clamp(30px, 2.5vw, 40px);
		line-height: 1.2;
		text-align: center;
	}
	.way:hover {
		flex: 2;
	}
	
	.way-con:hover .way:not(:hover) {
		flex: 1;
	}
	.title-con .mob-btn{
		display: flex;
		position: relative;
		z-index: 99;
	}
	.title-con .desc-btn{
		display: none;
	}
	.mob-paragraph{
		display: none;
	}
	.title h1{
		margin-top: 20%;
	}


}