@import url('font.css');
@import url('menu.css');
@import url('home.css');
@import url('modal.css');

:root {
	--gray: #B6B7B7;
	--tran_03: all 0.3s ease-out;
	--tran_05:  all 0.5s ease-in-out;
	--title:clamp(40px, 4vw, 70px);
	--btn:clamp(16px, 1.58vw, 20px);
	--h1:clamp(20px, 2.5vw, 30px);
	--h2:clamp(12px, 1vw, 16px);
}
.element::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html {
	scroll-behavior: smooth;
}
	
body{
	font-family:'Tranforma', sans-serif;
	display: flex;
	justify-content: center;
	font-weight: 400;
	color: #ffffff;
	transition: var(--tran_03);

	background: rgb(46,46,46);
	background: -moz-radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(17,17,17,1) 53%);
	background: -webkit-radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(17,17,17,1) 53%);
	background: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(17,17,17,1) 53%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2e2e2e",endColorstr="#111111",GradientType=1);
}

a {
  text-decoration: none; /* Убирает подчеркивание */
  color: inherit; /* Наследует цвет текста родителя, можно также указать конкретный цвет */
}

*{
	cursor: auto;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
	max-width: 2200px;
	height: 100vh;
}

.btn{
	border-style: none;
	padding: 2px 30px 0px 30px;
	font-size: var(--btn);
	border-radius: 6px;
	font-family:'Tranforma', sans-serif;
	font-weight: 400;
	cursor: pointer;

	background: -moz-linear-gradient(173deg, rgba(95,193,255,1) 0%, rgba(24,92,149,1) 89%);
	background: -webkit-linear-gradient(173deg, rgba(95,193,255,1) 0%, rgba(24,92,149,1) 89%);
	background: linear-gradient(173deg, rgba(95,193,255,1) 0%, rgba(24,92,149,1) 89%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fc1ff",endColorstr="#185c95",GradientType=1);
	
}

.btn:hover{
	background: rgb(95,193,255);
	background: -moz-linear-gradient(173deg, rgba(95,193,255,1) 47%, rgba(24,92,149,1) 100%);
	background: -webkit-linear-gradient(173deg, rgba(95,193,255,1) 47%, rgba(24,92,149,1) 100%);
	background: linear-gradient(173deg, rgba(95,193,255,1) 47%, rgba(24,92,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5fc1ff",endColorstr="#185c95",GradientType=1);
	transition: var(--tran_05);
}

.btn:focus{
	background: rgb(74,149,196);
	background: -moz-linear-gradient(173deg, rgba(74,149,196,1) 0%, rgba(24,92,149,1) 54%);
	background: -webkit-linear-gradient(173deg, rgba(74,149,196,1) 0%, rgba(24,92,149,1) 54%);
	background: linear-gradient(173deg, rgba(74,149,196,1) 0%, rgba(24,92,149,1) 54%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a95c4",endColorstr="#185c95",GradientType=1);
	transition: var(--tran_05);
}

