.burger-con{
	display: none	;
}
.mob_menu{
	display: none;
}

.menu{
	display: flex;
	position: fixed;
	top: 0;
	justify-content: space-between;
	align-items: start;
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 2200px;
	padding: 30px 50px 0px 50px;
	z-index: 99;
	transition: var(--tran_05);
	backdrop-filter: blur(15px);
	background-color: #00000090;
}
/* .menu:hover{
	background-color: #00000070;
	backdrop-filter: blur(10px);
	transition: var(--tran_05);
} */

.menu .logo img{
	cursor: pointer;
}
.menu-btn {
	display: flex;
	align-items: center;
}
.menu-btn .cont-btn{
	display: flex;
}
.menu-btn .cont-btn a{
	margin: 0 10px;
	display: flex;
	align-items: center;
	position: relative;
	width: 22px;
}
.menu-btn .cont-btn a img{
    margin: 0 10px;
    opacity: 0.5;
    cursor: pointer;
    transition: var(--tran_03);
    width: 30px;
}
.menu-btn .cont-btn a:hover img{
	width: 20px;
	transition: var(--tran_03);
}
.menu-btn button{
	margin: 0 10px;
}
.nav-con{
	display: flex;
	flex-direction: column;
	align-items: end;
}
.nav{
	margin: 20px 10px;
}
.nav a{
	color: var(--gray);
	font-size: 15px;
	cursor: pointer;
	transition: var(--tran_03);
}
.nav a:hover{
	color: #ffffff;
	transition: var(--tran_03);
}
.nav span{
	color: var(--gray);
	font-size: 15px;
	padding: 0 10px;
	cursor: default;
}





@media (max-width: 600px) {
	.nav-con{
		display: none;
	}
	.burger-con{
		display: flex;
	}
	.burger-con{
		position: absolute;
		right: 5%;
		top: 30%;
	}
	.menu{
		padding: 5%;
		position: fixed;
		top: 0;
		width: 100vw;
	}
	.menu:hover{
		background-color: #ffffff00;
	}
	.logo a img{
		height: 40px;
	}
	.mob_menu .menu-btn{
		display: flex;
		flex-direction: column;
	}

	.nav{
		margin: 0 0 0 10%;
	}


	
	.mob_menu{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		position: fixed;
		top: 0;
		height: 100vh;
		width: 75vw;
		background-color: #00000070;
		backdrop-filter: blur(10px);
		z-index: 999;
		transform: translateX(-120%);
		transition: var(--tran_03);
	}


	
	.mob_menu.active{
		transform: translateX(-20%);
		transition: var(--tran_03);
	}
	
	.burger-close{
		display: none;
	}

	.copy{
		font-size: 12px;
		color: var(--gray);
	}

	/* .mob_menu .logo_menu{
		margin: 30% 0 0 0;
	}

	.mob_menu .nav{
		margin: 40% 0 0 0;
	}

	.mob_menu .cont-btn{
		margin: 30% 0 0 0;
	}
	.menu-btn .btn{
		margin: 30% 0 30% 0;
	}
 */
.mob_menu .logo_menu img{
	height: 50px;
}
.mob_menu .cont-btn{
	margin: 30% 0 0 0;
}
.mob_menu .nav a{
	display: block;
	color: #ffffff;
	font-size: 18px;
	font-weight: 400;
	gap: 100px;
}



}