
.block_3.cell{
	justify-content: center;
	gap: 10%;
}
.block_3 div h1{
	text-align: center;
}
.block_3 div h2{
	text-align: center;
}
.block_3 div{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.block_3 div h1 span{
	font-size: 40px;
}